<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RMCodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RMCodeGen.Properties.Settings>
            <setting name="CadenaConexion" serializeAs="String">
                <value>Data Source=giovanni;Initial Catalog=data_400;Integrated Security=true;User Id=SUPERVISOR_SQL;Password=XfSgsh2Wna7KtZLBkLgTlbdhuW1of</value>
            </setting>
        </RMCodeGen.Properties.Settings>
    </userSettings>
</configuration>